.mainWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.ParentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

/* --------------------- CloseIcon Area --------------------- */
.CloseIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    transition: 0.4s ease-in-out;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }
}
/* --------------------- Nav Area --------------------- */

.navLinksMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.link {
    font-size: 2.5rem;
    font-family: 'Wotfard';
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    
    &:hover {
        color: #fbbf24;
    }
}

/* --------------------- Socials Bottom --------------------- */

.socialMedia {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.socialMediaIcon {
    color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
  
    &:hover {
        transform: scale(1.1);
        color: #fbbf24;
    }
}