// Button Parent
.BtnContainer {
  gap: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

// Add More Button
.FilterBtns {
  width: 76px;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #3a3637;
  font-family: "Wotfard";
  color: #fff;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

/* --------------------- SearchArea --------------------- */


.searchContainer {
  justify-content: center;
  align-items: center;
  width: 100%;
}

input:not(
    [type="image" i],
    [type="range" i],
    [type="checkbox" i],
    [type="radio" i]
  ) {
  font-family: "Montserrat", sans-serif;
  width: 250px;
  height: 45px;
  padding-left: 2.5rem;
  border: 0;
  border-radius: 12px;
  background-color: #000000;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s ease-in-out;
  cursor: text;
  z-index: 0;

  &::placeholder {
    color: #bdbecb;
  }

  &::hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
  }

  &::active {
    transform: scale(0.95);
  }

  &::focus {
    box-shadow: 0 0 0 2.5px #2f303d;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }


}

.searchIcon {
    color: #fff;
}

form {
    color: #000000;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
  }

.submitBtn {
    width: 96px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  
    background-color: #3A3637;
    font-family: 'Wotfard';
    color: #fff;
    transition: transform 0.3s ease-in-out;
  
  
    &:hover {
      transform: translateY(-5px);
    }
  }
