.simpleWrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  padding-top: 100px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  list-style: none;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 0;

  @media (max-width: 1550px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  @media (max-width: 1250px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 550px;
  }

  @media (max-width: 480px) {
    padding: 20px 0;
    gap: 16px;
  }
}

.Posts {
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem 2rem;

  @media (max-width: 768px) {
    padding: 1.5rem 1rem;
  }
}







/* ---------------------------- Button Styling Start ---------------------------- */

// Button Parent
.BtnContainer {
  gap: 5px;
  display: flex;
  justify-content: center;
}

// Delete Button
.deleteBtn {
  width: 96px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  background-color: #3A3637;
  font-family: 'Wotfard';
  color: #fff;
  transition: transform 0.3s ease-in-out;


  &:hover {
    transform: translateY(-5px);
  }
}

// View Project Button
.ViewProjectBtn {
  width: 96px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #3A3637;
  font-family: 'Wotfard';
  color: #fff;
  transition: transform 0.3s ease-in-out;


  &:hover {
    transform: translateY(-5px);
  }
}

// Add More Button
.AddMoreBtn {
  width: 96px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #3A3637;
  font-family: 'Wotfard';
  color: #fff;
  transition: transform 0.3s ease-in-out;


  &:hover {
    transform: translateY(-5px);
  }
}

/* ---------------------------- Button Styling END ---------------------------- */

/* ---------------------------- ICONS GLOBAL START ---------------------------- */

.IconGlobal {
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Wotfard';
  padding: 5px;
  transition: transform 0.3s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.10)
  }
}

.copyright {
  font-family: 'Wotfard';
}
/* ---------- Fonts, Heading, Paragraphs and Texts Styling Start -------------- */


// .textWrapper {
//   background-color: #6b4701;
//   width: 350px;
//   justify-content: center;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: 'Wotfard';
}

p {
  color: #ffffff;
  font-family: 'Wotfard';
}

/* ---------- Fonts, Heading, Paragraphs and Texts Styling END -------------- */



/* --------------------- Inside Card Corners --------------------- */

