.header {
  background: rgba(35, 33, 44, 0.95);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  position: fixed;
  width: 100%;
  max-height: 50px;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 0px;
  min-height: 72px;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}



.navLinksPcOnly {
  width: 100%;
  justify-content: right;
  align-items: right;
  display: flex;
  gap: 15px;
  padding-right: 10px;

@media (max-width: 480px) {
    display: none;
}
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.0rem;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.MobileIconsOnly {
  width: 100%;
  justify-content: right;
  align-items: right;
  display: flex;
  gap: 15px;
  padding-right: 10px;

  @media (min-width: 480px) {
    display: none;
}
}

.logo {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  padding-left: 10px;
}

.IconHeader {
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Wotfard';
  padding: 5px;
  transition: transform 0.3s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.10)
  }
}
