.mainWrapper {
  padding-top: 25px;
  padding: 25px;
  max-width: 500px;
}
.cardParent {
  background: #23212c;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  height: 50vh;
  min-width: 380px;
  min-height: 150px;
  cursor: pointer;
  overflow: hidden;
  
  border-radius: 5px;
  justify-content: center;
  // padding: 25px;
}


.image {
  width: 100%;
  height: 100%;
  // margin-top: 25px;
  border-radius: 25px;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
  border-radius: 5px;
  
  
  &:before {
    background: (135deg,rgba(0,0,0,.3),rgba(0,0,0,.1) 50%,rgba(0,0,0,.4));
  }

  &:hover {
    transform: scale(1.05);
  }
}

.textGrid {
  display: grid;
  grid-auto-rows: 50px;
  grid-template-columns: repeat(2, 1fr);
}




/* --------------------- Inside Card Corners --------------------- */

.leftbottom,
.rightbottom,
.lefttop,
.righttop {
  padding: 5px;
}

.lefttop {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* --------------------- Left Bottom Corner Area --------------------- */


.leftbottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  bottom: 1rem;
  justify-content: center;
  left: 1rem;
  align-items: center;
}

.CategoryParents {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1137254902);
  font-family: "Wotfard";
  color: #fff;
  border-radius: 5px;
}

.catIcons {
  color: #fff;
  margin-left: 10px;
}

// Add More Button
.CategoryBtns {
  width: 48px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;


  &:hover {
    transform: translateY(-5px);
  }
}

/* --------------------- Right Left Area --------------------- */
.rightbottom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.IconGlobal {
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Wotfard';
  transition: transform 0.3s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.10)
  }
}

/* --------------------- Middle Area --------------------- */
.centeredText {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 3;
  transform: auto;
  justify-content: center;

  max-width: 5333px;


}

.description {
  font-size: 16px;
  font-family: 'Wotfard';
  
}

/* --------------------- Right Top Area --------------------- */
.righttop {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex ;
  justify-content: space-between;
  gap: 5px;
}

// Add More Button
.TagsBtn {
  width: 48px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #ffffff1d;
  font-family: 'Wotfard';
  color: #fff;
  transition: transform 0.3s ease-in-out;


  &:hover {
    transform: translateY(-5px);
  }
}