.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 100px;
  
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.socialMediaIcon {
  color: #ffffff;
  border-radius: 5px;
  font-family: 'Wotfard';
  padding: 5px;
  transition: transform 0.3s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.10)
  }
}

.copyright {
  font-family: 'Wotfard';
}