:root {
    --border-width: 200px;
    --border-height: 200px;
}

html,
body {
    // background: radial-gradient(mistyrose, pink);
    height: 100&;
    width: 100%;
    position: relative;
    overflow: hidden;
}


.gallery {
    position: relative;
    width: 100%;
    height: 100%;
}

.gallery:after{
    content:"";
}

.shadow{
    position: absolute;
    top: 500px;
    left: 100px;
    width: 500px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(#805d78, rgba(0, 0, 0, 0) 70%);
}

img{
    width: 100;
    height: var(--height);
}

.clippedBorder {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    padding: 5px;
    background: linear-gradient(grey,lightgrey);
    width: var(--border-width);
    height: var(--border-height);
    max-height: 250px;
    max-width: 250px;
    height: var(--height);
    width: 100;
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        opacity: 0.5;
        width: 350px;
        height: 70px;
        background: white;
        top: 0;
        left: 0;
        z-index: 1;
        transform: rotate(45deg);
        transition: transform 0.5s;
    }

    &:hover:before {
        transform: translate(-1000px, 400%) rotate(45deg);
        transition: transform 0,5s;
    }
}

.clippedBorder:nth-child(2){
    top: 196px;
    left: 118px;
}

.clippedBorder:nth-child(3){
    top: 0;
    left: 235px;
}

.clippedBorder:nth-child(4){
    top: 196px;
    left: 353px;
}

.clippedBorder:nth-child(5){
    top: 0;
    left: 470px;
}

#clipped {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

}

.clippedBorder:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    z-index: 10;
}


// mobile Responsive

@media screen and (max-width: 500px) {
    .clippedBorder{
        width: 100px;
        height: 100px;
    }

    .clippedBorder:nth-child(2){
        top: 0;
        left: 100px;
    }
    .clippedBorder:nth-child(3){
        left: 200px;
    }
    .clippedBorder:nth-child(4){
        top: 82px;
        left: 50px;
    }
    .clippedBorder:nth-child(5){
        top: 82px;
        left: 150px;
    }
}