/* ------------------------------------- Body & Root ------------------------------------- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 20s linear infinite;
  }
}
/* ------------------------------------- Fundamental Styles ------------------------------------- */





/* --------------------- Error Global Styling Default --------------------- */
